<?xml version="1.0" encoding="utf-8"?>

<!--DAO配置根节点-->
<daoConfig xmlns="http://ibatis.apache.org/dataAccess" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <!--定义提供者-->
  <providers resource="providers.config" />

  <!--定义上下文：包括一个数据源、DAO实现-->
  <context id="rios" default="true">
    <database>
      <provider name="oracle11.1" />
      <dataSource name="Oracle"
                  connectionString="Data Source=UNICOM_HN;Persist Security Info=True;User ID=unionuser_hn;Password=unionoptr;connection lifetime=10;min pool size=1;max pool size=300;enlist=false;" />
    </database>

    <!--定义会话处理，目前有三种：iBatis，ADO.Net，NHibernate-->
    <daoSessionHandler id="SqlMap">
      <property name="sqlMapConfigFile" value="SqlMap.config" />
    </daoSessionHandler>

    <!--定义DAO的实现-->
    <daoFactory>
    </daoFactory>
  </context>
</daoConfig>