<?xml version="1.0" encoding="utf-8"?>
<!--配置Mapper-->
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
  <!--一些总体配置-->
  <settings>
    <setting useStatementNamespaces="false"/>
    <!--允许对象缓冲-->
    <setting cacheModelsEnabled="true"/>
    <setting validateSqlMap="false"/>
  </settings>
  <alias>
    <!--Double到Decimal的转换-->
    <typeAlias alias="DoubleDecimal"
        type="Boco.Rios.Framework.Persistence.DoubleDecimalTypeHandler, Boco.Rios.Framework.Persistence" />
    <!--String到Decimal的转换-->
    <typeAlias alias="StringDecimal"
        type="Boco.Rios.Framework.Persistence.DecimalStringTypeHandler, Boco.Rios.Framework.Persistence" />
  </alias>
  <!--定义TypeHandlers-->
  <typeHandlers>
    <typeHandler type="double" dbType="decimal" callback="DoubleDecimal" />
    <typeHandler type="string" dbType="decimal" callback="StringDecimal" />
  </typeHandlers>
  <!--定义SQL映射-->
  <sqlMaps>
    <sqlMap resource ="Config\Boco.Rios.Portal.Management.UI\sqlmaps\Notice.xml"/>
  </sqlMaps>
</sqlMapConfig>
