@charset "utf-8";
body {
	font-size: 12px;
	line-height: 20px;
	font-weight: normal;
	color: #333;
	text-decoration: none;
	margin: 0px;
	padding: 0px;
	background-color: #FFF;
	background-image: url(../images/body.jpg);
	background-repeat: repeat-x;
	background-position: left top;
}
#top {
	color: #FFF;
	height: 80px;
	background-image: url(../images/top_batter.jpg);
	background-repeat: no-repeat;
	background-position: right top;
	text-align: center;
}
.date {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #d61718;
}
#logo {
	background-image: url(../images/logo.jpg);
	background-repeat: no-repeat;
	height: 69px;
	width: 352px;
	float: left;
}
#login {
	height: 80px;
	width: 600px;
	float: right;
	color: #666;
	text-align: left;
}
.input_search {
	padding: 0px;
	height: 23px;
	border: 1px solid #dbdbdb;
	width: 350px;
	margin: 0px;
}

#menu {
	background-image: url(../images/top_menu_r.gif);
	height: 31px;
	background-repeat: no-repeat;
	background-position: right top;
	text-align: left;

}
.menu_bg_l{
	background-image: url(../images/top_menu_l.gif);
	height: 31px;
	width: 16px;
	float: left;
}
.menu_bg_r{
	float: right;
	width: 95%;
	height: 31px;
}
#menu ul  {
	height: 31px;
	margin-top: 0px;
	padding-top: 0px;
} 
#menu ul a{
	height: 31px;
	margin-top: 0px;
	padding-top: 0px;
	color: #333;
}

.left_bg_1 ul  {
	margin: 10px;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 10px;
}
.left_bg_1 ul li {
	list-style-image: url(../images/arrow_1.png);
	list-style-type: none;
}

#menu ul li {
	float:left;
	height: 26px;
	width: 85px;
	text-align: center;
	list-style-type: none;
	padding-top: 5px;
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #cdc4c4;
	border-right-color: #cdc4c4;
	border-bottom-color: #cdc4c4;
	border-left-color: #cdc4c4;
}

#main {
	color: #333;
	padding: 10px;
}
.main_bg_white {
	background-color: #ffffff;
	border: 1px solid #eaeaea;
	padding: 10px;
	width: 270px;
}

.left_bg_1 {
	background-image: url(../images/left_bg_1.png);
	padding: 10px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 0px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #dccaca;
	border-right-color: #dccaca;
	border-bottom-color: #dccaca;
	border-left-color: #dccaca;
}
.left_bg_2 {
	padding: 10px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #dccaca;
	border-right-color: #dccaca;
	border-bottom-color: #dccaca;
	border-left-color: #dccaca;
}
.left_bg_2 ul  {
	margin: 10px;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 10px;
}
.left_bg_2 ul li {
	list-style-image: url(../images/arrow_1.png);
	list-style-type: none;
}

.left_bg_3 {
	padding: 0px;
	background-image: url(../images/left_tab_bg.png);
	height: 32px;
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 0px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #dccaca;
	border-right-color: #dccaca;
	border-bottom-color: #dccaca;
	border-left-color: #dccaca;
}
.left_bg_3 ul {
	width: 240px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
	margin-top: 8px;
	margin-right: 2px;
	margin-bottom: 2px;
	margin-left: 2px;
	height: 33px;
}
#main_r {
	background-color: #f5f5f5;
	margin-right: 0px;
	margin-left: 10px;
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #d9d8d8;
	border-right-color: #d9d8d8;
	border-bottom-color: #d9d8d8;
	border-left-color: #d9d8d8;
}
#main_r_1 {
	background-color: #f5f5f5;
	margin-right: 0px;
	margin-left: 10px;
	border: 1px solid #d9d8d8;
}
.left_bg_3 ul li {
	float: left;
	list-style-type: none;

	height: 33px;
	text-align: center;
		padding-right: 5px;
	padding-left: 5px;
}
.left_bg_3_click {
	float: left;
	list-style-type: none;
	background-image: url(../images/left_tab_click.gif);
	background-repeat: no-repeat;
	background-position: left bottom;
	height: 33px;
	text-align: center;
	color: #d61718;
	padding-right: 5px;
	padding-left: 5px;
}
.link_bg {
	color: #d61718;
	background-image: url(../images/link_bg.png);
	height: 40px;
	width: 103px;
	cursor: hand;
	text-align: center;
	vertical-align: middle;
}
.menu_click {
	background-image: url(../images/meun_click.png);
	height: 31px;
	width: 85px;
	font-weight: bold;
	color: #FFF;
	text-align: center;
	background-repeat: no-repeat;
	background-position: center;
}
.menu_click a {
	color: #FFF;

}
.menu_click a:link { color: #FFF; text-decoration:none;}
.menu_click a:hover {color: #FFF; text-decoration:none;}
.menu_click a:visited{ color: #FFF; text-decoration:none;}
.white {
	color: #FFF;

}

.left_title_bg {
	font-size: 14px;
	line-height: 28px;
	font-weight: bold;
	background-color: #ffcfcf;
	text-align: left;
	text-indent: 23px;
	height: 30px;
	color: #d61718;
	border-top-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #dccaca;
	border-right-color: #dccaca;
	border-bottom-color: #dccaca;
	border-left-color: #dccaca;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	background-image: url(../images/left_title_bg.png);
	background-position: right top;
}
.left_title_1 {
	font-size: 14px;
	line-height: 48px;
	font-weight: bold;
	background-color: #ffcfcf;
	text-align: left;
	text-indent: 23px;
	height: 48px;
	color: #d61718;
	background-image: url(../images/left_title_bg_1.png);
}


#left {
	background-color: #ffe9e9;
	width: 240px;
}

#bottom {
	background-image: url(../images/bottom.jpg);
	height: 35px;
	text-align: center;
	padding: 3px;
}
.main_title_1 {
	font-size: 14px;
	line-height: 28px;
	font-weight: bold;
	text-align: left;
	text-indent: 10px;
	height: 36px;
	color: #d61718;
	background-image: url(../images/main_title_pic.png);
	background-repeat: no-repeat;
	background-position: right bottom;
}
.main_title_2 {
	font-size: 14px;
	line-height: 28px;
	font-weight: bold;
	text-align: left;
	text-indent: 10px;
	height: 36px;
	color: #d61718;
	background-repeat: no-repeat;
	background-position: right bottom;
	
}
.main_bg_3 {
	background-image: url(../images/main_tab_bg.png);
	padding-right: 10px;
	padding-left: 10px;
	margin-right: 0px;
	margin-left: 10px;
	height: 33px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 0px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #d9d8d8;
	border-right-color: #d9d8d8;
	border-bottom-color: #d9d8d8;
	border-left-color: #d9d8d8;
}
.main_bg_3 ul {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
	margin-top: 0px;
	margin-right: 2px;
	margin-bottom: 2px;
	margin-left: 2px;
	height: 33px;
	padding-top: 6px;
}
.main_bg_3 ul li {
	float: left;
	list-style-type: none;
	height: 33px;
	text-align: center;
	margin-right: 10px;
	margin-left: 10px;
}
.main_bg_3_click {
	float: left;
	list-style-type: none;
	background-image: url(../images/main_tab_click.png);
	background-repeat: repeat-x;
	background-position: left bottom;
	height: 33px;
	text-align: center;
	color: #d61718;
	padding-right: 10px;
	padding-left: 10px;
}
.main_bg_1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	background-image: url(../images/main_bg_1.png);
	text-align: right;
	width: 100px;
	background-repeat: no-repeat;
	background-position: left center;
}
.green {
	color: #090;
	padding-right: 10px;
}

.line {
	background-image: url(../images/line.png);
	background-repeat: repeat-x;
	background-position: left center;
	height: 11px;
}
td {
	font-size: 12px;
	line-height: 20px;
	color: #333;
	text-decoration: none;
}
/*链接样式*/
a {
	color: #333;
	text-decoration: none;
}
a:link { color: #333; text-decoration:none;}
a:hover {color: #D61718; text-decoration:none;}
a:visited{ color: #333; text-decoration:none;}

.table_1 {
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #cbcbcb;
	border-right-color: #cbcbcb;
	border-bottom-color: #cbcbcb;
	border-left-color: #cbcbcb;
		background-color: #FFF;
}
.table_1 td {
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #cbcbcb;
	border-right-color: #cbcbcb;
	border-bottom-color: #cbcbcb;
	border-left-color: #cbcbcb;
	text-align: center;

}
.table_1 th {
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #cbcbcb;
	border-right-color: #cbcbcb;
	border-bottom-color: #cbcbcb;
	border-left-color: #cbcbcb;
	text-align: center;
	background-image: url(../images/table_th.gif);
	background-color: #e6e6e6;
	background-repeat: repeat-x;
	background-position: left top;
	font-weight: normal;
}
.table_1_tr {
	background-color: #f9eaea;
}
.table_1_red {
	font-weight: bold;
	color: #C00;
	background-color: #FF3;
}
.top_search {
	
	height: 23px;
	
}
.top_search ul {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
	height: 23px;
	padding-top: 2px;
}
.top_search ul li {
	float: left;
	list-style-type: none;
	height: 23px;
	text-align: center;
	margin-right: 10px;
	margin-left: 10px;
}
.top_search_click {
	float: left;
	list-style-type: none;
	background-image: url(../images/search_click.jpg);
	background-repeat: repeat-x;
	background-position: center top;
	height: 23px;
	text-align: center;
	color: #FFF;
	padding-right: 10px;
	padding-left: 10px;
}
